body{
    background: url("../assets/daniel.jpg") no-repeat center center fixed;
}

.bloco--cadastro{
    background-color: white;
    padding: 20px;
    margin-top: 25px;
    border-radius: 10px;
}